# Python
__pycache__/
*.py[cod]
*$py.class

# TensorFlow Models
*.keras
*.h5
*.ckpt

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Environment Variables
.env

# Logs
*.log

# Dataset (Large files)
Dataset/

# Operating System Files
.DS_Store
Thumbs.db
